/* all pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/college.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-position: center;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: auto;
}

/* header.php */

.header {
  width: 100%;
  top: 0;
  position: fixed;
  height: 8vh;
  background-color: whitesmoke;
}

.mainheading {
  /* width: 90%; */
  height: 100%;
  /* margin: auto; */
  display: flex;
  flex-grow: 50%;
  flex-shrink: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: violet; */
}

.logo {
  /* background-color: teal; */
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

#logoimg {
  height: 6vh;
}

.heading {
  width: 70%;
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0a156f;
  /* background-color: tomato; */
}

@media screen and (min-width: 301px) {
  .header_heading {
    font-size: 2vw;
  }
}
@media screen and (max-width: 300px) {
  .header_heading {
    font-size: 1.5vw;
  }
}

/* footer.php */
.footer {
  width: 100%;
  height: 5vh;
  margin: auto;
  bottom: 0;
  background-color: #0a156f;
}

.socialmediadiv {
  /* width: 30%; */
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  /* background-color: violet; */
}
.socialmedia {
  width: 3%;
  /* background-color: teal; */
}
.sociallogo {
  height: 3vh;
  width: 3vh;
}

/* index.php */
.main {
  height: 85vh;
}

.login_form {
  width: 90%;
  height: 90%;
  margin: auto;
}
.logindiv {
  width: 40%;
  margin: 20vh auto;

  /* height: calc(100vh-6vh); */
  height: 60vh;
  /* border: 2px red solid; */
}

.login {
  width: 90%;
  margin: auto;
  background-color: whitesmoke;
  /* width: 90%;
  
  height: 90%;
  margin: auto; */
  /* text-align: center; */
  /* text-align: left; */
  /* border: 2px red solid; */
  padding: 3vh 3vh;
  font-size: 1vw;
  font-family: fantasy;
}

.label {
  width: 100%;
  /* border: 2px red solid; */
  /* text-align: left; */
  /* padding: 0.5em 0; */
  font-size: 1vw;
  margin: 3vh auto;
}
.inputbox {
  height: 4vh;
  width: 100%;
  text-align: left;
  /* border: 2px red solid; */
  padding: 0.5vh 0.5vw;
  margin: 2vh auto;
}
.button {
  width: 100%;
  height: 5vh;
  margin: 2vh auto;
  /* margin: 0 10px 10px 20px; */
  padding: 0.5vh 0.5vw;
  text-align: left;
  background-color: #0a156f;
  color: white;
  text-align: center;
  font-size: 1em;
}
#checkbox {
  /* text-align: left; */
  /* border: 2px red solid; */
  /* padding: 0.2em 0;
  margin: 0 10px 10px 20px; */
  margin: 2vh auto;
  padding: 0.5vh 0.5vw;
}
.signuppara {
  /* text-align: left; */
  /* border: 2px red solid; */
  margin: 2vh auto;
  padding: 0.5vh 0.5vw;
  /* text-align: center; */
}

.signuppara a {
  text-decoration: none;
  color: #0a156f;
}
