/* all pages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/college.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  background-position: center;
  background-attachment: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: auto;
}

a {
  text-decoration: none;
}
/* header.php */

.header {
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  height: 8vh;
  background-color: whitesmoke;
}

.mainheading {
  /* width: 90%; */
  height: 100%;
  /* margin: auto; */
  display: flex;
  flex-grow: 50%;
  flex-shrink: 50%;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* background-color: violet; */
}

.logo {
  /* background-color: teal; */
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

#logoimg {
  height: 6vh;
}

.heading {
  width: 70%;
  display: flex;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0a156f;
  /* background-color: tomato; */
}

@media screen and (min-width: 301px) {
  .header_heading {
    font-size: 2vw;
  }
  .label {
    font-size: 1.2vw;
  }
  .signup_label {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 300px) {
  .header_heading {
    font-size: 1.5vw;
  }
  .label {
    font-size: 1vw;
  }
  .signup_label {
    font-size: 1vw;
  }
}

/* footer.php */
.footer {
  width: 100%;
  height: 5vh;
  margin: auto;
  bottom: 0;
  position: fixed;
  background-color: #0a156f;
}

.socialmediadiv {
  /* width: 30%; */
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  /* background-color: violet; */
}
.socialmedia {
  width: 3%;
  /* background-color: teal; */
}
.sociallogo {
  height: 3vh;
  width: 3vh;
}

/* index.php */

.content {
  height: calc(100vh - 8vh - 5vh);
  width: 100%;
  /* top: 10vh; */
  position: absolute;
  /* display: flex; */

  top: 8vh;
}

.main {
  /* background-color: teal; */
  height: 100%;
  display: flex;
  /* margin-top: 8vh 0; */
  justify-content: center;
  /* align-items: center; */
}

.logindiv {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.login_form {
  width: 90%;
  /* background-color: tomato; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.form-item {
  width: 90%;
  /* background-color: teal; */
  display: flex;
  align-items: center;
  height: 10%;
  /* vertical-align: middle; */
}
.inputbox {
  width: 100%;
  height: 100%;
}

.button {
  width: 20%;
  background-color: #0a156f;
  height: 5vh;
  color: whitesmoke;
}

.checkbox {
  padding: 1vh 1vw;
}

.label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.signuppara {
  letter-spacing: 0.01rem;
  /* background-color: teal; */
  width: 100%;
  text-align: center;
}

.login_button_div {
  display: flex;
  width: 90%;
  /* background-color: teal; */
  justify-content: center;
}

.errormsg {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2vh;
  font-weight: bold;
}

/* signup.php */

.signupdiv {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.signup_form {
  width: 90%;
  /* background-color: tomato; */
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.signup_form-item {
  width: 90%;
  /* background-color: teal; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  /* vertical-align: middle; */
}
.signup_inputbox {
  width: 60%;
  height: 100%;
}

.signup_button {
  width: 20%;
  text-align: center;
  background-color: #0a156f;
  height: 5vh;
  color: whitesmoke;
}

.signup_button_div {
  display: flex;
  width: 90%;
  justify-content: center;
}

.signup_label {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* signup_database.php */

.message {
  background-color: whitesmoke;
  height: 50%;
  border: 2px red solid;
  text-align: center;
  width: 30%;
  margin: auto;
  color: #0a156f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  /* vertical-align: middle; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* signup_as.php */
.signupasdiv {
  /* background-color: tomato; */
  margin: auto;
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupas_form {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background-color: whitesmoke;
}

/* forgot_password.php */

.frgtpwd-form-item {
  width: 90%;
  /* background-color: teal; */
  display: flex;
  align-items: center;
  height: 10%;
  /* vertical-align: middle; */
}

.frgtpwd-button {
  width: 60%;
  background-color: #0a156f;
  height: 5vh;
  color: whitesmoke;
}
/* 
.frgtpwd_button_div {
  display: flex;
  width: 90%;
  background-color: teal;
  justify-content: center;
} */

.frgtpwd-inputbox {
  width: 90%;
  height: 90%;
}

.frgtpwd-button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.frgtpwddiv {
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.frgtpwd_form {
  width: 60%;
  /* background-color: tomato; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
}

/* header_after_login.php */
.navbar {
  /* background-color: black; */
  height: 8vh;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlist {
  width: 70%;
  /* background-color: tomato; */
}

.logo_after_login {
  width: 20%;
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.logout-btn-div {
  /* background-color: red; */
  width: 50%;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logout-btn {
  /* width: 30%; */
  background-color: #0a156f;
  padding: 0.5vh;
  height: 5vh;
  color: whitesmoke;
}
.nav-list-items {
  color: #0a156f;
  font-size: 1.2vw;
  width: 100%;
  padding-top: 1rem;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}
/* student_home.php  */

.course {
  font-size: 1.2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* text-align: center;/ */
  padding-top: 1rem;
  width: 100%;
  /* background-color: tomato; */
}

.courses_enrolled {
  display: flex;
  background-color: whitesmoke;
  width: 60%;
  height: 80%;
}
.course-item {
  width: 900%;
  /* background-color: teal; */
}
